<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body class='index-body'>
    <header class="show-header">
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
    </header>
    
    <div class="container-sm index-main">
    <% for(let pod of pods) { %>
        <div class="pod-family-container">
            <a href="/pods/<%= pod.id %>"><img class="index-pod-image" src="<%= pod.photoURL %>"></a>
            <h2>The <%= pod.familyName %> Family</h2>
            <h3>Family of <%= pod.familyCount %></h3> 
            <p>Location: <%= pod.location %></p> 
        </div> 
    <% } %> 
    </div>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>