<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs') %>
</head>
<body class='index-body'>
    <header>
        <%- include('./partials/header.ejs') %>
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
    </header>
    <h2>Pods in your area!</h2>
    <div class="container-xl index-main">
    <% for(let pod of pods) { %>
        <div class="pod-family-container">
            <a href="/<%= pod.id %>"><img class="index-pod-image" src="<%= pod.photoURL %>"></a>
            <h2>The <%= pod.familyName %> Family</h2>
            <h3>Family of <%= pod.familyCount %></h3> 
            <p>Location: <%= pod.location %></p> 
        </div> 
    <% } %> 
    </div>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>