<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<header class='show-header'>
    <%- include('./partials/header.ejs') %>
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
</header>
<body class="show-body">
    <div class="show-main-container">
        <div>
            <img class="show-pod-image" src="<%=pod.photoURL%>">
        </div>
        <div class="show-detail-div">
            <div>
                <h2 class="family-name show-text">The <%= pod.familyName %> Family</h2>
                <p class="show-text">The <%= pod.familyName %> family is a family of <%= pod.familyCount %> that lives in <%= pod.location %></p>
                <p class="show-text">Their safety score is <%= pod.maskwearing %> </p>
            </div>
            <form action="/<%= pod.id %>/edit ">
            <input type="submit" class="btn btn-primary show-edit-btn" value="Edit your POD">
            </form>
        </div>
    </div>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</body>
</html>